# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @MdSajjadurRahaman

# Client-side code
/client/ @MdSajjadurRahaman

# Server-side code
/server/ @MdSajjadurRahaman

# Documentation
*.md @MdSajjadurRahaman
LICENSE @MdSajjadurRahaman

# Configuration files
*.json @MdSajjadurRahaman
*.yml @MdSajjadurRahaman
*.config.js @MdSajjadurRahaman
.github/ @MdSajjadurRahaman
